.track {
    overflow: hidden;
}
.trackNum {
  float: left;
  width: 2em;
  text-align: right;
  margin-right: 1em;
}
.left {
  float:left;
}
.title {
  font-weight: bold;
  font-size: large;
}
.artist {
  margin-left: 4em;
}
.album {
  margin-left: 2em;
}
