.app {
  width: 100%;
  height: 100vh;
}

.tablet-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.desktop-main {
  composes: global(row);
  width: 100%;
  height: 100%;
}

.left-panel {
  composes: global(col-md-6);
  height: 100%;
}

.right-panel {
  composes: global(col-md-6);
  height: 100%;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.menu-item {
  composes: global(btn);
  composes: global(btn-primary);
  composes: global(btn-lg);
  composes: global(btn-block);
}

.menu-item a {
  color: white;
}
