.heading {
  font-size: larger;
  font-weight: bold;
}
.status {
  line-height: 2em;
}

.table {
  width: 100%;
}

.table td {
  padding: 0.5em;
}
.centeredTable {
 text-align: center;
}
.thead th {
  font-size: xx-large;
  text-align: center;
}
.headingRow {
  font-size: larger;
  text-align: center;
  composes: global(bg-primary);
}
.newer {
  composes: global(bg-success);
  width: 50%;
}
.older {
  composes: global(bg-warning);
  width: 50%;
}
.missing {
  composes: global(bg-danger);
  font-size: x-large;
  font-weight: bold;
  width: 25%;
}
.added {
  composes: global(bg-info);
  font-size: x-large;
  font-weight: bold;
  width: 25%;
}
.same {
  font-size: x-large;
  font-weight: bold;
  width: 25%;
}
.trackInfo {
  margin: 0 1em;
  width: 50%;
}
.track-title {
  margin: 0;
  font-weight: bold;
}
.track-album {
  margin: 0;
}
.track-artist {
  margin: 0;
}
