.audio {
  display: flex;
}
.left {
  float: left;
  composes: global(btn);
  composes: global(btn-default);
}
.right {
  float:right;
  composes: global(btn);
  composes: global(btn-default);
}
.bar {
  flex: auto;
  margin: auto 1em;
}
