.li {
  list-style: none;
  composes: global(bg-info);
  margin-bottom: 1px;
  padding: 2px;
}

.album {
  font-weight: bold;
  composes: global(col-md-6);
}
.artists {
  composes: global(col-md-4);
}
.numTracks {
  composes: global(col-md-2);
}
