.album-info {
  composes: global(row);
}
.album-artist {
  composes: global(col-md-10);
}
.album-artist::before {
  content: "Artist: ";
}

.album-num-tracks {
  composes: global(col-md-2);
}
.album-num-tracks::before {
  content: "Number of tracks: ";
}
